body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.3rem;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#content {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  max-width: 800px;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

input, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}


/************************
* @media customisations *
************************/

@media (orientation: portrait) {
  #content {
    top: 0;
    left: 0;
    right: 0;
    width: 80vw;
    margin: 0 auto;
    padding: 10vw;
  }

  h1 {
    font-size: 4rem;
  }

  #subtitle {
    font-size: 2rem;
  }

  input, textarea {
    margin: 1rem;
    font-size: 2rem;
  }
  input {
    height: 5rem;
  }
  
  textarea {
    height: 20rem;
  }
  
  button {
    height: 6rem;
    font-size: 2.5rem;
  }
}

@media (orientation: landscape) {
  #content {
    top: 10vh;
    left: 10vh;
    width: 30vw;
    padding: 10vh;
    margin: 0;
  }

  h1 {
    font-size: 2rem;
  }

  #subtitle {
    font-size: 1.3rem;
  }

  input, textarea {
    margin: 0.5rem;
    font-size: 1.3rem;
  }
  input {
    height: 2.5rem;
  }
  
  textarea {
    height: 10rem;
  }
  
  button {
    height: 3rem;
    font-size: 1.5rem;
  }
}

